* {
  box-sizing: border-box;
  background: black;
}



.pad div {
  width:100px;
  height: 100px;
  margin: 5px;
  display: inline-block;
}

#blue {
  background:blue;
}
#green {
  background:green;
}

#red {
  background:red;
}
#yellow {
  background:yellow;
}

.displayCounter {
  font-size:1.5em;
}

.clicked {
  border: 5px solid white; !important;
}