* {
  box-sizing: border-box;
  color: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: black;
}

h1 {
  font-weight: bold;
}

.pad {
  display: flex;
  justify-content: center;
}

.pad div {
  width:100px;
  height: 100px;
  margin: 15px 5px;
  display: inline-block;
}

.pad div:active {
    border: 50px solid white;
}


#blue {
  background:blue;
}
#green {
  background:green;
}

#red {
  background:red;
}
#yellow {
  background:yellow;
}

.displayCounter {
  font-size:1.5em;
}

.clicked {
  border: 50px solid white;
}


button {
  background: white;
  color:black;
  font-size: 1.5em;
  margin: 15px;
}

